@import "./Theme.scss";
@import "./Breakpoints.scss";

* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;

  // justify-content: center;
}

@include breakpoint-mixin("tablet") {
  * {
    padding: 0;
    margin: 0;
  }

  .App {
    display: flex;
    height: 100vh;

    // justify-content: center;
  }
}

@include breakpoint-mixin("tablet-wide") {
  * {
    padding: 0;
    margin: 0;
  }

  .App {
    display: flex;
    height: 100vh;

    // justify-content: center;
  }
}

@include breakpoint-mixin("desktop") {
  * {
    padding: 0;
    margin: 0;
  }

  .App {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
}
