@import "./Breakpoints.scss";
@import "./Theme.scss";
.chat-room-section {
  height: 79vh;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;

  .chat-room-holder {
    height: fit-content;
    width: 87%;
    display: flex;
    //   justify-content: center;
    background-color: $secondary-background;
    border-radius: 5px;
    // align-items: center;
    flex-direction: column;

    .navbar {
      height: 8vh;
      width: 100%;
      // background-color: aqua;
      display: flex;
      justify-content: space-between;

      .home {
        height: 100%;
        width: 25%;
        display: flex;
        align-items: center;
        color: white;
        margin-left: 20px;
        // background-color: purple;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: white;

          #arrow {
            font-weight: 800;
            // font-size: 160px;
          }

          h2 {
            margin-bottom: 7px;
            display: none;
          }
        }
      }

      .group {
        width: 80%;
        // background-color: yellow;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 15px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }

        .room-options {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 40%;
          height: 100%;
          // background-color: purple;
          margin-right: 10px;
          .edit {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $highlight;
            transition: background 0.2s ease-in;
            cursor: pointer;
          }

          .secondBTN {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $highlight;
            transition: background 0.2s ease-in;
            cursor: pointer;
          }

          .answered {
            background-color: greenyellow;
            color: black;
          }

          .edit:hover {
            background-color: $highlight;
            color: white;
          }
        }
      }
    }
    .group-without {
      width: 50%;
      // background-color: pink;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .answered-block {
        display: flex;
        width: fit-content;
        height: 100%;
        // background-color: pink;
        align-items: center;
        font-size: 15px;
        font-family: "Red Hat Text", sans-serif;
        color: white;

        #completeIcon {
          margin-right: 10px;
          color: greenyellow;
        }
        // background-color: aqua;
      }
    }

    .question {
      padding: 5px 0px 20px 0px;
      height: fit-content;
      min-height: 15vh;
      width: 100%;
      // background-color: yellow;
      border-bottom: 1px solid white;
      border-top: 1px solid rgba(255, 255, 255, 0.295);
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        color: white;
        display: block;
        margin-left: 20px;
        margin-right: 40px;
      }
      #title {
        font-size: 20px;
        opacity: 0.5;
        margin-bottom: 8px;
        // background-color: yellow;

        span {
          font-size: 18px;
          margin-left: 10px;
        }
      }

      #question {
        font-size: 22px;
        margin-bottom: 11px;
        // background-color: yellow;
        // opacity: 0.5;
      }

      #creation {
        cursor: pointer;
        font-size: 15px;
        opacity: 0.5;
        width: fit-content;
        // background-color: aqua;
      }

      #creation:hover {
        opacity: 1;
      }

      .input_field {
        margin-left: 25px;
        color: white;
        font-size: 18px;
        width: 80%;
        height: 30px;
        outline: 0;
        border: 0;
        background-color: transparent;
        border-bottom: 2px solid white;
      }

      .input_label {
        width: 100px;
        height: 40px;
        background-color: aqua;
      }

      #Q {
        margin-top: 25px;
      }
    }

    .messaging {
      height: fit-content;
      min-height: 30vh;
      max-height: 38vh;
      width: 100%;
      overflow-y: auto;

      .msg {
        // margin-top: 20px;
        height: fit-content;
        min-height: 16vh;
        border-bottom: 1px solid white;
        // border-top: 1px solid white;

        .top {
          height: 8vh;
          width: 100%;
          // background-color: pink;
          display: flex;
          align-items: center;

          a {
            // background-color: yellow;
            text-decoration: none;
            display: flex;
            height: 100%;
            align-items: center;
            img {
              height: 55px;
              width: 55px;
              border-radius: 100%;
              margin-left: 20px;
              margin-right: 15px;
              display: none;
            }

            h2 {
              font-family: "Red Hat Text", sans-serif;
              font-size: 19px;
              // margin-bottom: 15px;
              margin-right: 15px;
              margin-left: 20px;
              color: white;
            }
          }

          p {
            font-family: "Red Hat Text", sans-serif;
            font-size: 16px;
            // margin-bottom: 15px;
            color: white;
          }

          #heart {
            // background-color: yellow;
            margin-bottom: 15px;
            margin-left: 50%;
            font-size: 25px;
            color: white;
          }
        }

        .middle {
          min-height: 8vh;
          height: fit-content;
          padding: 10px 5px 10px 5px;
          width: 100%;
          // background-color: aqua;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-family: "Red Hat Text", sans-serif;
            font-size: 21px;
            margin-bottom: 15px;
            margin-right: 0px;
            color: white;
          }
        }
      }
    }

    .chat-bar {
      border-radius: 5px;
      height: 10vh;
      width: 100%;
      background-color: #333c47;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .input {
        text-align: start;
        border: none;
        outline: none;
        border-radius: 5px;
        width: 50%;
        height: 40px;
        padding-left: 20px;
        font-size: 15px;
        background-color: #141414;
        color: white;
      }

      .send {
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: #141414;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        p {
          display: block;
        }

        #upload {
          display: none;
        }
      }
    }
  }
}

@include breakpoint-mixin("tablet") {
  .chat-room-section {
    height: 78vh;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    .chat-room-holder {
      height: fit-content;
      width: 87%;
      display: flex;
      //   justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      // align-items: center;
      flex-direction: column;

      .navbar {
        height: 8vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;

        .home {
          height: 100%;
          width: 25%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }

        .group {
          width: 60%;
          // background-color: yellow;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .answered-block {
            display: flex;
            width: fit-content;
            height: 100%;
            // background-color: pink;
            align-items: center;
            font-size: 18px;
            font-family: "Red Hat Text", sans-serif;
            color: white;

            #completeIcon {
              margin-right: 10px;
              color: greenyellow;
            }
            // background-color: aqua;
          }

          .room-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 37%;
            height: 100%;
            // background-color: purple;
            margin-right: 15px;
            .edit {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .answered {
              background-color: greenyellow;
              color: black;
            }

            .edit:hover {
              background-color: $highlight;
              color: white;
            }
          }
        }
      }
      .group-without {
        width: 40%;
        // background-color: pink;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 18px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }
      }

      .question {
        padding: 15px 0px 15px 0px;
        height: fit-content;
        min-height: 11vh;
        width: 100%;
        // background-color: yellow;
        border-bottom: 1px solid white;
        border-top: 1px solid rgba(255, 255, 255, 0.295);
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          color: white;
          display: block;
          margin-left: 40px;
          margin-right: 40px;
        }
        #title {
          font-size: 22px;
          opacity: 0.5;
          margin-bottom: 10px;

          span {
            font-size: 18px;
            margin-left: 10px;
          }
        }

        #question {
          font-size: 25px;
          margin-bottom: 13px;
          // opacity: 0.5;
        }

        #creation {
          cursor: pointer;
          font-size: 15px;
          opacity: 0.5;
          width: fit-content;
          // background-color: aqua;
        }

        #creation:hover {
          opacity: 1;
        }

        .input_field {
          margin-left: 40px;
          color: white;
          font-size: 18px;
          width: 350px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .input_label {
          width: 100px;
          height: 40px;
          background-color: aqua;
        }

        #Q {
          margin-top: 25px;
        }
      }

      .messaging {
        height: fit-content;
        min-height: 30vh;
        max-height: 40vh;
        width: 100%;
        overflow-y: auto;

        .msg {
          // margin-top: 20px;
          height: fit-content;
          min-height: 16vh;
          border-bottom: 1px solid white;
          // border-top: 1px solid white;

          .top {
            height: 8vh;
            width: 100%;
            // background-color: pink;
            display: flex;
            align-items: center;

            a {
              // background-color: yellow;
              text-decoration: none;
              display: flex;
              height: 100%;
              align-items: center;
              img {
                height: 55px;
                width: 55px;
                border-radius: 100%;
                margin-left: 20px;
                margin-right: 15px;
                display: block;
              }

              h2 {
                font-family: "Red Hat Text", sans-serif;
                font-size: 21px;
                margin-bottom: 15px;
                margin-right: 15px;
                margin-left: 0px;
                color: white;
              }
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 17px;
              margin-bottom: 15px;
              color: white;
            }

            #heart {
              // background-color: yellow;
              margin-bottom: 15px;
              margin-left: 50%;
              font-size: 25px;
              color: white;
            }
          }

          .middle {
            min-height: 8vh;
            height: fit-content;
            padding: 10px 5px 10px 25px;
            width: 100%;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 21px;
              margin-bottom: 15px;
              margin-right: 15px;
              color: white;
            }
          }
        }
      }

      .chat-bar {
        border-radius: 5px;
        height: 8vh;
        width: 100%;
        background-color: #333c47;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .input {
          text-align: start;
          border: none;
          outline: none;
          border-radius: 5px;
          width: 65%;
          height: 40px;
          padding-left: 20px;
          font-size: 15px;
          background-color: #141414;
          color: white;
        }

        .send {
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: #141414;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          p {
            display: block;
          }

          #upload {
            display: none;
          }
        }
      }
    }
  }
}

@include breakpoint-mixin("tablet-wide") {
  .chat-room-section {
    height: 78vh;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;

    .chat-room-holder {
      height: fit-content;
      width: 87%;
      display: flex;
      //   justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      // align-items: center;
      flex-direction: column;

      .navbar {
        height: 8vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }

        .group {
          width: 45%;
          // background-color: yellow;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .answered-block {
            display: flex;
            width: fit-content;
            height: 100%;
            // background-color: pink;
            align-items: center;
            font-size: 18px;
            font-family: "Red Hat Text", sans-serif;
            color: white;

            #completeIcon {
              margin-right: 10px;
              color: greenyellow;
            }
            // background-color: aqua;
          }

          .room-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 37%;
            height: 100%;
            // background-color: purple;
            margin-right: 15px;
            .edit {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .answered {
              background-color: greenyellow;
              color: black;
            }

            .edit:hover {
              background-color: $highlight;
              color: white;
            }
          }
        }
      }
      .group-without {
        width: 35%;
        // background-color: pink;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 18px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }
      }

      .question {
        padding: 15px 0px 15px 0px;
        height: fit-content;
        min-height: 10vh;
        width: 100%;
        // background-color: yellow;
        border-bottom: 1px solid white;
        border-top: 1px solid rgba(255, 255, 255, 0.295);
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          color: white;
          display: block;
          margin-left: 40px;
          margin-right: 40px;
        }
        #title {
          font-size: 22px;
          opacity: 0.5;
          margin-bottom: 10px;

          span {
            font-size: 18px;
            margin-left: 10px;
          }
        }

        #question {
          font-size: 25px;
          margin-bottom: 20px;
          // opacity: 0.5;
        }

        #creation {
          cursor: pointer;
          font-size: 15px;
          opacity: 0.5;
          width: fit-content;
          // background-color: aqua;
        }

        #creation:hover {
          opacity: 1;
        }

        .input_field {
          margin-left: 40px;
          color: white;
          font-size: 18px;
          width: 350px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .input_label {
          width: 100px;
          height: 40px;
          background-color: aqua;
        }

        #Q {
          margin-top: 25px;
        }
      }

      .messaging {
        height: fit-content;
        min-height: 30vh;
        max-height: 45vh;
        width: 100%;
        overflow-y: auto;

        .msg {
          // margin-top: 20px;
          height: fit-content;
          min-height: 16vh;
          border-bottom: 1px solid white;
          // border-top: 1px solid white;

          .top {
            height: 8vh;
            width: 100%;
            // background-color: pink;
            display: flex;
            align-items: center;

            a {
              // background-color: yellow;
              text-decoration: none;
              display: flex;
              height: 100%;
              align-items: center;
              img {
                height: 55px;
                width: 55px;
                border-radius: 100%;
                margin-left: 20px;
                margin-right: 15px;
              }

              h2 {
                font-family: "Red Hat Text", sans-serif;
                font-size: 21px;
                margin-bottom: 15px;
                margin-right: 15px;
                margin-left: 0px;
                color: white;
              }
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 17px;
              margin-bottom: 15px;
              color: white;
            }

            #heart {
              // background-color: yellow;
              margin-bottom: 15px;
              margin-left: 50%;
              font-size: 25px;
              color: white;
            }
          }

          .middle {
            min-height: 8vh;
            height: fit-content;
            padding: 10px 5px 10px 25px;
            width: 100%;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 21px;
              margin-bottom: 15px;
              margin-right: 15px;
              color: white;
            }
          }
        }
      }

      .chat-bar {
        border-radius: 5px;
        height: 8vh;
        width: 100%;
        background-color: #333c47;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .input {
          text-align: start;
          border: none;
          outline: none;
          border-radius: 5px;
          width: 75%;
          height: 40px;
          padding-left: 20px;
          font-size: 15px;
          background-color: #141414;
          color: white;
        }

        .send {
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: #141414;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          p {
            display: block;
          }

          #upload {
            display: none;
          }
        }
      }
    }
  }
}

@include breakpoint-mixin("desktop") {
  .chat-room-section {
    height: fit-content;
    padding-bottom: 40px;

    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .chat-room-holder {
      height: fit-content;
      width: 87%;
      display: flex;
      //   justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      // align-items: center;
      flex-direction: column;

      .navbar {
        height: 8vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }

        .group {
          width: 45%;
          // background-color: yellow;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .answered-block {
            display: flex;
            width: fit-content;
            height: 100%;
            // background-color: pink;
            align-items: center;
            font-size: 18px;
            font-family: "Red Hat Text", sans-serif;
            color: white;

            #completeIcon {
              margin-right: 10px;
              color: greenyellow;
            }
            // background-color: aqua;
          }

          .room-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 37%;
            height: 100%;
            // background-color: purple;
            margin-right: 15px;
            .edit {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .answered {
              background-color: greenyellow;
              color: black;
            }

            .edit:hover {
              background-color: $highlight;
              color: white;
            }
          }
        }
      }
      .group-without {
        width: 25%;
        // background-color: pink;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 18px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }
      }

      .question {
        padding: 15px 0px 15px 0px;
        height: fit-content;
        min-height: 12vh;
        width: 100%;
        // background-color: yellow;
        border-bottom: 1px solid white;
        border-top: 1px solid rgba(255, 255, 255, 0.295);
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          color: white;
          display: block;
          margin-left: 40px;
          margin-right: 40px;
        }
        #title {
          font-size: 22px;
          opacity: 0.5;
          margin-bottom: 10px;

          span {
            font-size: 18px;
            margin-left: 10px;
          }
        }

        #question {
          font-size: 25px;
          margin-bottom: 20px;
          // opacity: 0.5;
        }

        #creation {
          cursor: pointer;
          font-size: 15px;
          opacity: 0.5;
          width: fit-content;
          // background-color: aqua;
        }

        #creation:hover {
          opacity: 1;
        }

        .input_field {
          margin-left: 40px;
          color: white;
          font-size: 18px;
          width: 350px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .input_label {
          width: 100px;
          height: 40px;
          background-color: aqua;
        }

        #Q {
          margin-top: 25px;
        }
      }

      .messaging {
        height: fit-content;
        min-height: 32vh;
        max-height: 50vh;
        width: 100%;
        overflow-y: auto;

        .msg {
          // margin-top: 20px;
          height: fit-content;
          min-height: 16vh;
          border-bottom: 1px solid white;
          // border-top: 1px solid white;

          .top {
            height: 8vh;
            width: 100%;
            // background-color: pink;
            display: flex;
            align-items: center;

            a {
              // background-color: yellow;
              text-decoration: none;
              display: flex;
              height: 100%;
              align-items: center;
              img {
                height: 55px;
                width: 55px;
                border-radius: 100%;
                margin-left: 20px;
                margin-right: 15px;
                display: block;
              }

              h2 {
                font-family: "Red Hat Text", sans-serif;
                font-size: 21px;
                margin-bottom: 15px;
                margin-right: 15px;
                margin-left: 0px;
                color: white;
              }
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 17px;
              margin-bottom: 15px;
              color: white;
            }

            #heart {
              // background-color: yellow;
              margin-bottom: 15px;
              margin-left: 50%;
              font-size: 25px;
              color: white;
            }
          }

          .middle {
            min-height: 8vh;
            height: fit-content;
            padding: 10px 5px 10px 25px;
            width: 100%;
            // background-color: aqua;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 21px;
              margin-bottom: 15px;
              margin-right: 15px;
              color: white;
            }
          }
        }
      }

      .chat-bar {
        border-radius: 5px;
        height: 8vh;
        width: 100%;
        background-color: #333c47;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .input {
          text-align: start;
          border: none;
          outline: none;
          border-radius: 5px;
          width: 75%;
          height: 40px;
          padding-left: 20px;
          font-size: 15px;
          background-color: #141414;
          color: white;
        }

        .send {
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: #141414;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          p {
            display: block;
          }

          #upload {
            display: none;
          }
        }
      }
    }
  }
}
