@media only screen and (min-width: 1200px) {
  .chat-room-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #28303b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-room-section .chat-room-holder .navbar {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .home {
    height: 100%;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    margin-left: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .home a {
    text-decoration: none;
    color: white;
  }
  .chat-room-section .chat-room-holder .navbar .home a #arrow {
    font-weight: 800;
  }
  .chat-room-section .chat-room-holder .navbar .home a h2 {
    margin: 0px 65px 7px 0px;
  }
  .chat-room-section .chat-room-holder .navbar .group {
    width: 54%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .group .answered-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .navbar .group .answered-block #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 39%;
    height: 100%;
    margin-right: 10px;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .edit {
    margin-left: auto;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .secondBTN {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .answered {
    background-color: greenyellow;
    color: black;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .edit:hover {
    background-color: #0096ff;
    color: white;
  }
  .chat-room-section .chat-room-holder .group-without {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .group-without .answered-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .group-without .answered-block #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .scrollable {
    overflow-y: auto;
    height: 66vh;
  }
  .chat-room-section .chat-room-holder .scrollable .question {
    padding: 20px 0px 20px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 12vh;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid rgba(255, 255, 255, 0.295);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    word-wrap: break-word;
  }
  .chat-room-section .chat-room-holder .scrollable .question p {
    color: white;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #title {
    font-size: 22px;
    opacity: 0.5;
    margin-bottom: 7px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #title span {
    font-size: 18px;
    margin-left: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #question {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #creation {
    cursor: pointer;
    font-size: 15px;
    opacity: 0.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .chat-room-section .chat-room-holder .scrollable .question #creation:hover {
    opacity: 1;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs {
    height: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs #name {
    margin-top: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .secondBTN {
    height: 41px;
    width: 41px;
    border-radius: 10px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .input_field {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-size: 18px;
    width: 150px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .text-counter {
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 40px;
    background-color: #0096ff;
    border-radius: 3px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .input_label {
    width: 100px;
    height: 40px;
    background-color: aqua;
  }
  .chat-room-section .chat-room-holder .scrollable .comments {
    height: 5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .comments p {
    font-size: 22px;
    margin-left: 30px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 16vh;
    border-bottom: 1px solid white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .userToClick {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .userToClick img {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 15px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .userToClick h2 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder {
    height: 20px;
    width: 5%;
    margin: 0 20px 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot {
    position: relative;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing {
    cursor: auto;
    position: absolute;
    color: white;
    top: 15px;
    right: -20px;
    width: 250px;
    height: 14vh;
    border-radius: 7px;
    background-color: #333c47;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered p {
    margin-bottom: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #circle {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #green-circle {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
    color: #aaf11a;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #circle:hover {
    color: #aaf11a;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment p {
    margin-bottom: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment #bin {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment #bin:hover {
    color: #fd4d4d;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle {
    min-height: 6vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle .message-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    word-wrap: break-word;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .bottom .i-helped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 26px;
    width: 110px;
    border-radius: 10px;
    background-color: #0096ff;
    font-size: 17px;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar {
    border-radius: 5px;
    height: 8vh;
    width: 100%;
    background-color: #333c47;
  }
  .chat-room-section .chat-room-holder .chat-bar form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .chat-room-section .chat-room-holder .chat-bar form .input {
    text-align: start;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    height: 45px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #141414;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send {
    height: 45px;
    width: 95px;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send p {
    display: block;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send #upload {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .chat-room-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #28303b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-room-section .chat-room-holder .navbar {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .home {
    height: 100%;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    margin-left: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .home a {
    text-decoration: none;
    color: white;
  }
  .chat-room-section .chat-room-holder .navbar .home a #arrow {
    font-weight: 800;
  }
  .chat-room-section .chat-room-holder .navbar .home a h2 {
    margin: 0px 45px 7px 0px;
  }
  .chat-room-section .chat-room-holder .navbar .group {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .group .answered-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .navbar .group .answered-block #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: 100%;
    margin-right: 15px;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .edit {
    margin-left: auto;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .secondBTN {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .answered {
    background-color: greenyellow;
    color: black;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .edit:hover {
    background-color: #0096ff;
    color: white;
  }
  .chat-room-section .chat-room-holder .group-without {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .group-without .answered-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .group-without .answered-block #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .scrollable {
    overflow-y: auto;
    max-height: 70vh;
  }
  .chat-room-section .chat-room-holder .scrollable .question {
    padding: 25px 0px 25px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 12vh;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid rgba(255, 255, 255, 0.295);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .question p {
    color: white;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #title {
    font-size: 22px;
    opacity: 0.5;
    margin-bottom: 7px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #title span {
    font-size: 18px;
    margin-left: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #question {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #creation {
    cursor: pointer;
    font-size: 15px;
    opacity: 0.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .chat-room-section .chat-room-holder .scrollable .question #creation:hover {
    opacity: 1;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs {
    height: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs #name {
    margin-top: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .secondBTN {
    height: 42px;
    width: 42px;
    border-radius: 10px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .input_field {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-size: 18px;
    width: 250px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .text-counter {
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 40px;
    background-color: #0096ff;
    border-radius: 3px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .input_label {
    width: 100px;
    height: 40px;
    background-color: aqua;
  }
  .chat-room-section .chat-room-holder .scrollable .comments {
    height: 5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .comments p {
    font-size: 22px;
    margin-left: 30px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 16vh;
    border-bottom: 1px solid white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top a img {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 15px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top a h2 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder {
    height: 20px;
    width: 5%;
    margin: 0 20px 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot {
    position: relative;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing {
    cursor: auto;
    position: absolute;
    color: white;
    top: 15px;
    right: -20px;
    width: 250px;
    height: 14vh;
    border-radius: 7px;
    background-color: #333c47;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered p {
    margin-bottom: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #circle {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #green-circle {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
    color: #aaf11a;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #circle:hover {
    color: #aaf11a;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment p {
    margin-bottom: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment #bin {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment #bin:hover {
    color: #fd4d4d;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle {
    min-height: 6vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle .message-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    word-wrap: break-word;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .bottom .i-helped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 26px;
    width: 110px;
    border-radius: 10px;
    background-color: #0096ff;
    font-size: 17px;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar {
    border-radius: 5px;
    height: 8vh;
    width: 100%;
    background-color: #333c47;
  }
  .chat-room-section .chat-room-holder .chat-bar form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .chat-room-section .chat-room-holder .chat-bar form .input {
    text-align: start;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    height: 45px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #141414;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send {
    height: 45px;
    width: 95px;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send p {
    display: block;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send #upload {
    display: none;
  }
}

@media only screen and (min-width: 1920px) {
  .chat-room-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 86.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #28303b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-room-section .chat-room-holder .navbar {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .home {
    height: 100%;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    margin-left: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .home a {
    text-decoration: none;
    color: white;
  }
  .chat-room-section .chat-room-holder .navbar .home a #arrow {
    font-weight: 800;
  }
  .chat-room-section .chat-room-holder .navbar .home a h2 {
    margin: 0px 45px 7px 0px;
  }
  .chat-room-section .chat-room-holder .navbar .group {
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .chat-room-section .chat-room-holder .navbar .group .answered-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .navbar .group .answered-block #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: 100%;
    margin-right: 15px;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .edit {
    margin-left: auto;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .secondBTN {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .answered {
    background-color: greenyellow;
    color: black;
  }
  .chat-room-section .chat-room-holder .navbar .group .room-options .edit:hover {
    background-color: #0096ff;
    color: white;
  }
  .chat-room-section .chat-room-holder .group-without {
    width: 25%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .group-without .answered-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .group-without .answered-block #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .scrollable {
    overflow-y: auto;
    max-height: 70vh;
  }
  .chat-room-section .chat-room-holder .scrollable .question {
    padding: 25px 0px 25px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 12vh;
    width: 100%;
    border-bottom: 1px solid white;
    border-top: 1px solid rgba(255, 255, 255, 0.295);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .question p {
    color: white;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #title {
    font-size: 22px;
    opacity: 0.5;
    margin-bottom: 7px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #title span {
    font-size: 18px;
    margin-left: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #question {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .question #creation {
    cursor: pointer;
    font-size: 15px;
    opacity: 0.5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .chat-room-section .chat-room-holder .scrollable .question #creation:hover {
    opacity: 1;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs {
    height: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs #name {
    margin-top: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .secondBTN {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .input_field {
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-size: 18px;
    width: 270px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .text-counter {
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 40px;
    background-color: #0096ff;
    border-radius: 3px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .question .room_inputs .input_label {
    width: 100px;
    height: 40px;
    background-color: aqua;
  }
  .chat-room-section .chat-room-holder .scrollable .comments {
    height: 5vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .comments p {
    font-size: 22px;
    margin-left: 30px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 16vh;
    border-bottom: 1px solid white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top a img {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 15px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top a h2 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 17px;
    margin-bottom: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder {
    height: 20px;
    width: 5%;
    margin: 0 20px 50px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot {
    position: relative;
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background-color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing {
    cursor: auto;
    position: absolute;
    color: white;
    top: 15px;
    right: -20px;
    width: 250px;
    height: 14vh;
    border-radius: 7px;
    background-color: #333c47;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered p {
    margin-bottom: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #circle {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #green-circle {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
    color: #aaf11a;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .markAsAnswered #circle:hover {
    color: #aaf11a;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment p {
    margin-bottom: 0px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment #bin {
    cursor: pointer;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-size: 26px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .top .option-holder .dot .editing .deleteComment #bin:hover {
    color: #fd4d4d;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle {
    min-height: 6vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle .message-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    word-wrap: break-word;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .middle p {
    font-family: "Red Hat Text", sans-serif;
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .scrollable .msg .bottom .i-helped {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 26px;
    width: 110px;
    border-radius: 10px;
    background-color: #0096ff;
    font-size: 17px;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar {
    border-radius: 5px;
    height: 8vh;
    width: 100%;
    background-color: #333c47;
  }
  .chat-room-section .chat-room-holder .chat-bar form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .chat-room-section .chat-room-holder .chat-bar form .input {
    text-align: start;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    height: 45px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #141414;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send {
    height: 45px;
    width: 95px;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send p {
    display: block;
  }
  .chat-room-section .chat-room-holder .chat-bar form .send #upload {
    display: none;
  }
}
/*# sourceMappingURL=ChatRoom.css.map */