@import "./Breakpoints.scss";
@import "./Theme.scss";

@include breakpoint-mixin("laptop") {
  .chat-room-section {
    height: fit-content;
    padding-bottom: 40px;

    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .chat-room-holder {
      height: fit-content;
      width: 92%;
      display: flex;
      //   justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      // align-items: center;
      flex-direction: column;

      .navbar {
        height: 8vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;

        .home {
          height: 100%;
          width: 40%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin: 0px 65px 7px 0px;
            }
          }
        }

        .group {
          width: 54%;
          // background-color: yellow;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .answered-block {
            display: flex;
            width: fit-content;
            height: 100%;
            // background-color: pink;
            align-items: center;
            font-size: 18px;
            font-family: "Red Hat Text", sans-serif;
            color: white;

            #completeIcon {
              margin-right: 10px;
              color: greenyellow;
            }
            // background-color: aqua;
          }

          .room-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 39%;
            height: 100%;
            // background-color: purple;
            margin-right: 10px;

            .edit {
              margin-left: auto;
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .answered {
              background-color: greenyellow;
              color: black;
            }

            .edit:hover {
              background-color: $highlight;
              color: white;
            }
          }
        }
      }
      .group-without {
        width: 25%;
        // background-color: pink;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 18px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }
      }

      .scrollable {
        overflow-y: auto;
        height: 66vh;

        .question {
          padding: 20px 0px 20px 0px;
          height: fit-content;
          min-height: 12vh;
          width: 100%;
          // background-color: yellow;
          border-bottom: 1px solid white;
          border-top: 1px solid rgba(255, 255, 255, 0.295);
          display: flex;
          flex-direction: column;
          justify-content: center;
          word-wrap: break-word;

          p {
            color: white;
            display: block;
            margin-left: 40px;
            margin-right: 40px;
          }
          #title {
            font-size: 22px;
            opacity: 0.5;
            margin-bottom: 7px;

            span {
              font-size: 18px;
              margin-left: 10px;
            }
          }

          #question {
            font-size: 25px;
            margin-bottom: 10px;
            // opacity: 0.5;
          }

          #creation {
            cursor: pointer;
            font-size: 15px;
            opacity: 0.5;
            width: fit-content;
            // background-color: aqua;
          }

          #creation:hover {
            opacity: 1;
          }

          .room_inputs {
            height: 100%;
            width: 100%;
            flex-direction: row;
            // background-color: teal;
            align-items: center;
            display: flex;
            justify-content: space-evenly;

            #name {
              margin-top: 0px;
            }

            .secondBTN {
              height: 41px;
              width: 41px;
              border-radius: 10px;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .input_field {
              margin-left: 0px;
              margin-right: 0px;
              color: white;
              font-size: 18px;
              width: 150px;
              height: 30px;
              outline: 0;
              border: 0;
              background-color: transparent;
              border-bottom: 2px solid white;
            }

            .text-counter {
              position: relative;
              left: 0px;
              bottom: 0px;
              height: 40px;
              width: 40px;
              background-color: $highlight;
              border-radius: 3px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .input_label {
              width: 100px;
              height: 40px;
              background-color: aqua;
            }
          }
        }

        .comments {
          height: 5vh;
          width: 100%;
          // background-color: yellow;
          display: flex;
          align-items: center;

          p {
            font-size: 22px;
            margin-left: 30px;
            color: white;
          }
        }

        .msg {
          // margin-top: 20px;
          height: fit-content;
          min-height: 16vh;
          border-bottom: 1px solid white;
          // border-top: 1px solid white;

          .top {
            height: 8vh;
            width: 100%;
            // background-color: pink;
            display: flex;
            align-items: center;

            .userToClick {
              // background-color: yellow;
              text-decoration: none;
              display: flex;
              height: 100%;
              align-items: center;
              img {
                cursor: pointer;

                height: 55px;
                width: 55px;
                border-radius: 100%;
                margin-left: 20px;
                margin-right: 15px;
              }

              h2 {
                cursor: pointer;

                font-family: "Red Hat Text", sans-serif;
                font-size: 21px;
                margin-bottom: 15px;
                margin-right: 15px;
                color: white;
              }
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 17px;
              margin-bottom: 15px;
              color: white;
            }

            .option-holder {
              // background-color: yellow;
              height: 20px;
              width: 5%;
              margin: 0 20px 50px auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;

              .dot {
                position: relative;
                height: 7px;
                width: 7px;
                border-radius: 100%;
                background-color: white;

                .editing {
                  cursor: auto;
                  position: absolute;
                  color: white;
                  top: 15px;
                  right: -20px;
                  width: 250px;
                  height: 14vh;
                  border-radius: 7px;
                  background-color: #333c47;

                  .markAsAnswered {
                    height: 50%;
                    width: 100%;
                    // background-color: pink;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    p {
                      margin-bottom: 0px;
                    }

                    #circle {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                    }
                    #green-circle {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                      color: rgb(170, 241, 26);
                    }

                    #circle:hover {
                      color: rgb(170, 241, 26);
                    }
                  }

                  .deleteComment {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    p {
                      margin-bottom: 0px;
                      // margin-right: 10px;
                    }
                    // background-color: teal;

                    #bin {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                    }

                    #bin:hover {
                      color: $negativeBTN;
                    }
                  }
                }
              }
            }
          }

          .middle {
            min-height: 6vh;
            height: fit-content;
            padding: 10px 0px 10px 0px;
            width: 100%;
            // background-color: aqua;
            display: flex;
            justify-content: center;

            .message-container {
              width: 95%;
              display: flex;
              justify-content: center;
              height: fit-content;
              word-wrap: break-word;
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 21px;
              margin-bottom: 15px;
              margin-right: 15px;
              color: white;
            }
          }
          .bottom {
            // background-color: yellow;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            .i-helped {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              margin-right: 20px;
              height: 26px;
              width: 110px;
              border-radius: 10px;
              background-color: $highlight;
              font-size: 17px;
              color: white;
            }
          }
        }
      }

      .chat-bar {
        border-radius: 5px;
        height: 8vh;
        width: 100%;
        background-color: #333c47;

        form {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          width: 100%;

          .input {
            text-align: start;
            border: none;
            outline: none;
            border-radius: 5px;
            width: 75%;
            height: 45px;
            padding-left: 20px;
            font-size: 15px;
            background-color: #141414;
            color: white;
          }

          .send {
            height: 45px;
            width: 95px;
            border-radius: 5px;
            background-color: #141414;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p {
              display: block;
            }

            #upload {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include breakpoint-mixin("laptop-wide") {
  .chat-room-section {
    height: fit-content;
    padding-bottom: 40px;

    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .chat-room-holder {
      height: fit-content;
      width: 92%;
      display: flex;
      //   justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      // align-items: center;
      flex-direction: column;

      .navbar {
        height: 8vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;

        .home {
          height: 100%;
          width: 25%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin: 0px 45px 7px 0px;
            }
          }
        }

        .group {
          width: 40%;
          // background-color: yellow;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .answered-block {
            display: flex;
            width: fit-content;
            height: 100%;
            // background-color: pink;
            align-items: center;
            font-size: 18px;
            font-family: "Red Hat Text", sans-serif;
            color: white;

            #completeIcon {
              margin-right: 10px;
              color: greenyellow;
            }
            // background-color: aqua;
          }

          .room-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            height: 100%;
            // background-color: purple;
            margin-right: 15px;

            .edit {
              margin-left: auto;
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .answered {
              background-color: greenyellow;
              color: black;
            }

            .edit:hover {
              background-color: $highlight;
              color: white;
            }
          }
        }
      }
      .group-without {
        width: 25%;
        // background-color: pink;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 18px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }
      }

      .scrollable {
        overflow-y: auto;
        max-height: 70vh;

        .question {
          padding: 25px 0px 25px 0px;
          height: fit-content;
          min-height: 12vh;
          width: 100%;
          // background-color: yellow;
          border-bottom: 1px solid white;
          border-top: 1px solid rgba(255, 255, 255, 0.295);
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            color: white;
            display: block;
            margin-left: 40px;
            margin-right: 40px;
          }
          #title {
            font-size: 22px;
            opacity: 0.5;
            margin-bottom: 7px;

            span {
              font-size: 18px;
              margin-left: 10px;
            }
          }

          #question {
            font-size: 25px;
            margin-bottom: 10px;
            // opacity: 0.5;
          }

          #creation {
            cursor: pointer;
            font-size: 15px;
            opacity: 0.5;
            width: fit-content;
            // background-color: aqua;
          }

          #creation:hover {
            opacity: 1;
          }

          .room_inputs {
            height: 100%;
            width: 100%;
            flex-direction: row;
            // background-color: teal;
            align-items: center;
            display: flex;
            justify-content: space-evenly;

            #name {
              margin-top: 0px;
            }

            .secondBTN {
              height: 42px;
              width: 42px;
              border-radius: 10px;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .input_field {
              margin-left: 0px;
              margin-right: 0px;
              color: white;
              font-size: 18px;
              width: 250px;
              height: 30px;
              outline: 0;
              border: 0;
              background-color: transparent;
              border-bottom: 2px solid white;
            }

            .text-counter {
              position: relative;
              left: 0px;
              bottom: 0px;
              height: 40px;
              width: 40px;
              background-color: $highlight;
              border-radius: 3px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .input_label {
              width: 100px;
              height: 40px;
              background-color: aqua;
            }
          }
        }

        .comments {
          height: 5vh;
          width: 100%;
          // background-color: yellow;
          display: flex;
          align-items: center;

          p {
            font-size: 22px;
            margin-left: 30px;
            color: white;
          }
        }

        .msg {
          // margin-top: 20px;
          height: fit-content;
          min-height: 16vh;
          border-bottom: 1px solid white;
          // border-top: 1px solid white;

          .top {
            height: 8vh;
            width: 100%;
            // background-color: pink;
            display: flex;
            align-items: center;

            .userToClick {
              // background-color: yellow;
              text-decoration: none;
              display: flex;
              height: 100%;
              align-items: center;
              img {
                cursor: pointer;

                height: 55px;
                width: 55px;
                border-radius: 100%;
                margin-left: 20px;
                margin-right: 15px;
              }

              h2 {
                cursor: pointer;

                font-family: "Red Hat Text", sans-serif;
                font-size: 21px;
                margin-bottom: 15px;
                margin-right: 15px;
                color: white;
              }
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 17px;
              margin-bottom: 15px;
              color: white;
            }

            .option-holder {
              // background-color: yellow;
              height: 20px;
              width: 5%;
              margin: 0 20px 50px auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;

              .dot {
                position: relative;
                height: 7px;
                width: 7px;
                border-radius: 100%;
                background-color: white;

                .editing {
                  cursor: auto;
                  position: absolute;
                  color: white;
                  top: 15px;
                  right: -20px;
                  width: 250px;
                  height: 14vh;
                  border-radius: 7px;
                  background-color: #333c47;

                  .markAsAnswered {
                    height: 50%;
                    width: 100%;
                    // background-color: pink;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    p {
                      margin-bottom: 0px;
                    }

                    #circle {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                    }
                    #green-circle {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                      color: rgb(170, 241, 26);
                    }

                    #circle:hover {
                      color: rgb(170, 241, 26);
                    }
                  }

                  .deleteComment {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    p {
                      margin-bottom: 0px;
                      // margin-right: 10px;
                    }
                    // background-color: teal;

                    #bin {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                    }

                    #bin:hover {
                      color: $negativeBTN;
                    }
                  }
                }
              }
            }
          }

          .middle {
            min-height: 6vh;
            height: fit-content;
            padding: 10px 0px 10px 0px;
            width: 100%;
            // background-color: aqua;
            display: flex;
            justify-content: center;

            .message-container {
              width: 95%;
              display: flex;
              justify-content: center;
              height: fit-content;
              word-wrap: break-word;
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 21px;
              margin-bottom: 15px;
              margin-right: 15px;
              color: white;
            }
          }
          .bottom {
            // background-color: yellow;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            .i-helped {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              margin-right: 20px;
              height: 26px;
              width: 110px;
              border-radius: 10px;
              background-color: $highlight;
              font-size: 17px;
              color: white;
            }
          }
        }
      }

      .chat-bar {
        border-radius: 5px;
        height: 8vh;
        width: 100%;
        background-color: #333c47;

        form {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          width: 100%;

          .input {
            text-align: start;
            border: none;
            outline: none;
            border-radius: 5px;
            width: 75%;
            height: 45px;
            padding-left: 20px;
            font-size: 15px;
            background-color: #141414;
            color: white;
          }

          .send {
            height: 45px;
            width: 95px;
            border-radius: 5px;
            background-color: #141414;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p {
              display: block;
            }

            #upload {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include breakpoint-mixin("desktop") {
  .chat-room-section {
    height: fit-content;
    padding-bottom: 40px;

    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .chat-room-holder {
      height: fit-content;
      width: 86.5%;
      display: flex;
      //   justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      // align-items: center;
      flex-direction: column;

      .navbar {
        height: 8vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: space-between;

        .home {
          height: 100%;
          width: 25%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin: 0px 45px 7px 0px;
            }
          }
        }

        .group {
          width: 40%;
          // background-color: yellow;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .answered-block {
            display: flex;
            width: fit-content;
            height: 100%;
            // background-color: pink;
            align-items: center;
            font-size: 18px;
            font-family: "Red Hat Text", sans-serif;
            color: white;

            #completeIcon {
              margin-right: 10px;
              color: greenyellow;
            }
            // background-color: aqua;
          }

          .room-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;
            height: 100%;
            // background-color: purple;
            margin-right: 15px;

            .edit {
              margin-left: auto;
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 100%;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .answered {
              background-color: greenyellow;
              color: black;
            }

            .edit:hover {
              background-color: $highlight;
              color: white;
            }
          }
        }
      }
      .group-without {
        width: 25%;
        // background-color: pink;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .answered-block {
          display: flex;
          width: fit-content;
          height: 100%;
          // background-color: pink;
          align-items: center;
          font-size: 18px;
          font-family: "Red Hat Text", sans-serif;
          color: white;

          #completeIcon {
            margin-right: 10px;
            color: greenyellow;
          }
          // background-color: aqua;
        }
      }

      .scrollable {
        overflow-y: auto;

        max-height: 70vh;

        .question {
          padding: 25px 0px 25px 0px;
          height: fit-content;
          min-height: 12vh;
          width: 100%;
          // background-color: yellow;
          border-bottom: 1px solid white;
          border-top: 1px solid rgba(255, 255, 255, 0.295);
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            color: white;
            display: block;
            margin-left: 40px;
            margin-right: 40px;
          }
          #title {
            font-size: 22px;
            opacity: 0.5;
            margin-bottom: 7px;

            span {
              font-size: 18px;
              margin-left: 10px;
            }
          }

          #question {
            font-size: 25px;
            margin-bottom: 10px;
            // opacity: 0.5;
          }

          #creation {
            cursor: pointer;
            font-size: 15px;
            opacity: 0.5;
            width: fit-content;
            // background-color: aqua;
          }

          #creation:hover {
            opacity: 1;
          }

          .room_inputs {
            height: 100%;
            width: 100%;
            flex-direction: row;
            // background-color: teal;
            align-items: center;
            display: flex;
            justify-content: space-evenly;

            #name {
              margin-top: 0px;
            }

            .secondBTN {
              height: 45px;
              width: 45px;
              border-radius: 10px;
              background-color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $highlight;
              transition: background 0.2s ease-in;
              cursor: pointer;
            }

            .input_field {
              margin-left: 0px;
              margin-right: 0px;
              color: white;
              font-size: 18px;
              width: 270px;
              height: 30px;
              outline: 0;
              border: 0;
              background-color: transparent;
              border-bottom: 2px solid white;
            }

            .text-counter {
              position: relative;
              left: 0px;
              bottom: 0px;
              height: 40px;
              width: 40px;
              background-color: $highlight;
              border-radius: 3px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .input_label {
              width: 100px;
              height: 40px;
              background-color: aqua;
            }
          }
        }

        .comments {
          height: 5vh;
          width: 100%;
          // background-color: yellow;
          display: flex;
          align-items: center;

          p {
            font-size: 22px;
            margin-left: 30px;
            color: white;
          }
        }

        .msg {
          // margin-top: 20px;
          height: fit-content;
          min-height: 16vh;
          border-bottom: 1px solid white;
          // border-top: 1px solid white;

          .top {
            height: 8vh;
            width: 100%;
            // background-color: pink;
            display: flex;
            align-items: center;

            .userToClick {
              // background-color: yellow;
              text-decoration: none;
              display: flex;
              height: 100%;
              align-items: center;
              img {
                cursor: pointer;
                height: 55px;
                width: 55px;
                border-radius: 100%;
                margin-left: 20px;
                margin-right: 15px;
              }

              h2 {
                cursor: pointer;
                font-family: "Red Hat Text", sans-serif;
                font-size: 21px;
                margin-bottom: 15px;
                margin-right: 15px;
                color: white;
              }
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 17px;
              margin-bottom: 15px;
              color: white;
            }

            .option-holder {
              // background-color: yellow;
              height: 20px;
              width: 5%;
              margin: 0 20px 50px auto;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;

              .dot {
                position: relative;
                height: 7px;
                width: 7px;
                border-radius: 100%;
                background-color: white;

                .editing {
                  cursor: auto;
                  position: absolute;
                  color: white;
                  top: 15px;
                  right: -20px;
                  width: 250px;
                  height: 14vh;
                  border-radius: 7px;
                  background-color: #333c47;

                  .markAsAnswered {
                    height: 50%;
                    width: 100%;
                    // background-color: pink;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    p {
                      margin-bottom: 0px;
                    }

                    #circle {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                    }
                    #green-circle {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                      color: rgb(170, 241, 26);
                    }

                    #circle:hover {
                      color: rgb(170, 241, 26);
                    }
                  }

                  .deleteComment {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    p {
                      margin-bottom: 0px;
                      // margin-right: 10px;
                    }
                    // background-color: teal;

                    #bin {
                      cursor: pointer;
                      transition: 0.2s ease-in;
                      font-size: 26px;
                    }

                    #bin:hover {
                      color: $negativeBTN;
                    }
                  }
                }
              }
            }
          }

          .middle {
            min-height: 6vh;
            height: fit-content;
            padding: 10px 0px 10px 0px;
            width: 100%;
            // background-color: aqua;
            display: flex;
            justify-content: center;

            .message-container {
              width: 95%;
              display: flex;
              justify-content: center;
              height: fit-content;
              word-wrap: break-word;
            }

            p {
              font-family: "Red Hat Text", sans-serif;
              font-size: 21px;
              margin-bottom: 15px;
              margin-right: 15px;
              color: white;
            }
          }
          .bottom {
            // background-color: yellow;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;

            .i-helped {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              margin-right: 20px;
              height: 26px;
              width: 110px;
              border-radius: 10px;
              background-color: $highlight;
              font-size: 17px;
              color: white;
            }
          }
        }
      }

      .chat-bar {
        border-radius: 5px;
        height: 8vh;
        width: 100%;
        background-color: #333c47;

        form {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 100%;
          width: 100%;

          .input {
            text-align: start;
            border: none;
            outline: none;
            border-radius: 5px;
            width: 75%;
            height: 45px;
            padding-left: 20px;
            font-size: 15px;
            background-color: #141414;
            color: white;
          }

          .send {
            height: 45px;
            width: 95px;
            border-radius: 5px;
            background-color: #141414;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p {
              display: block;
            }

            #upload {
              display: none;
            }
          }
        }
      }
    }
  }
}
