.chat-room-section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat-room-section .chat-room-holder {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #28303b;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-room-section .chat-room-holder .question {
  padding: 15px 0px 15px 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 12vh;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat-room-section .chat-room-holder .question p {
  color: white;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
}

.chat-room-section .chat-room-holder .question #title {
  font-size: 22px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.chat-room-section .chat-room-holder .question #question {
  font-size: 19px;
}

.chat-room-section .chat-room-holder .messaging {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 32vh;
  width: 100%;
}

.chat-room-section .chat-room-holder .messaging .my-message {
  margin-top: 20px;
  height: 170px;
  width: 90%;
  border-radius: 2px;
  color: white;
  margin-left: auto;
  background-color: #141414;
}

.chat-room-section .chat-room-holder .messaging .my-message .info {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-room-section .chat-room-holder .messaging .my-message .info .circle {
  border: 2px solid white;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.chat-room-section .chat-room-holder .messaging .my-message .info .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 50%;
  font-size: 17px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
}

.chat-room-section .chat-room-holder .messaging .my-message .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 20%;
  font-size: 17px;
  font-weight: 400;
  font-family: "Red Hat Text", sans-serif;
}

.chat-room-section .chat-room-holder .messaging .my-message .reply {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Red Hat Text", sans-serif;
}

.chat-room-section .chat-room-holder .messaging .received-message {
  margin-top: 20px;
  height: 170px;
  width: 90%;
  border-radius: 2px;
  color: white;
  background-color: #0096ff;
}

.chat-room-section .chat-room-holder .messaging .received-message .info {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-room-section .chat-room-holder .messaging .received-message .info .circle {
  border: 2px solid white;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.chat-room-section .chat-room-holder .messaging .received-message .info .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 50%;
  font-size: 17px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
}

.chat-room-section .chat-room-holder .messaging .received-message .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 20%;
  font-size: 17px;
  font-weight: 400;
  font-family: "Red Hat Text", sans-serif;
}

.chat-room-section .chat-room-holder .messaging .received-message .reply {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Red Hat Text", sans-serif;
}

.chat-room-section .chat-room-holder .chat-bar {
  border-radius: 5px;
  height: 8vh;
  width: 100%;
  background-color: #333c47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-room-section .chat-room-holder .chat-bar .input {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 60%;
  height: 40px;
  text-align: center;
  font-size: 15px;
  background-color: #141414;
  color: white;
}

.chat-room-section .chat-room-holder .chat-bar .send {
  height: 40px;
  width: 20%;
  border-radius: 5px;
  background-color: #141414;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-room-section .chat-room-holder .chat-bar .send p {
  display: none;
}

.chat-room-section .chat-room-holder .chat-bar .send #upload {
  display: block;
}

@media only screen and (min-width: 768px) {
  .chat-room-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 82.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #28303b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-room-section .chat-room-holder .question {
    padding: 15px 0px 15px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 12vh;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .question p {
    color: white;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }
  .chat-room-section .chat-room-holder .question #title {
    font-size: 25px;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .question #question {
    font-size: 22px;
  }
  .chat-room-section .chat-room-holder .question .edit {
    position: absolute;
    left: 64%;
    top: 12%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .question .secondBTN {
    position: absolute;
    left: 64%;
    top: 19%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .question .answered {
    background-color: greenyellow;
    color: black;
  }
  .chat-room-section .chat-room-holder .question .edit:hover {
    background-color: #0096ff;
    color: white;
  }
  .chat-room-section .chat-room-holder .question .input_field {
    margin-left: 40px;
    color: white;
    font-size: 18px;
    width: 350px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .chat-room-section .chat-room-holder .question .input_label {
    width: 100px;
    height: 40px;
    background-color: aqua;
  }
  .chat-room-section .chat-room-holder .question #Q {
    margin-top: 25px;
  }
  .chat-room-section .chat-room-holder .messaging {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 32vh;
    width: 100%;
  }
  .chat-room-section .chat-room-holder .messaging .my-message {
    margin-top: 20px;
    height: 170px;
    width: 90%;
    border-radius: 2px;
    color: white;
    margin-left: auto;
    background-color: #141414;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .circle {
    border: 2px solid white;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 50%;
    font-size: 17px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .reply {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .received-message {
    margin-top: 20px;
    height: 170px;
    width: 90%;
    border-radius: 2px;
    color: white;
    background-color: #0096ff;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .circle {
    border: 2px solid white;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 50%;
    font-size: 17px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .reply {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .chat-bar {
    border-radius: 5px;
    height: 8vh;
    width: 100%;
    background-color: #333c47;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .chat-bar .input {
    text-align: start;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #141414;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar .send {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .chat-bar .send p {
    display: block;
  }
  .chat-room-section .chat-room-holder .chat-bar .send #upload {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .chat-room-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #28303b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-room-section .chat-room-holder .question {
    padding: 15px 0px 15px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 12vh;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .question p {
    color: white;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }
  .chat-room-section .chat-room-holder .question #title {
    font-size: 25px;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .question #question {
    font-size: 22px;
  }
  .chat-room-section .chat-room-holder .question .edit {
    position: absolute;
    left: 64%;
    top: 12%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .question .secondBTN {
    position: absolute;
    left: 64%;
    top: 19%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .question .answered {
    background-color: greenyellow;
    color: black;
  }
  .chat-room-section .chat-room-holder .question .edit:hover {
    background-color: #0096ff;
    color: white;
  }
  .chat-room-section .chat-room-holder .question .input_field {
    margin-left: 40px;
    color: white;
    font-size: 18px;
    width: 350px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .chat-room-section .chat-room-holder .question .input_label {
    width: 100px;
    height: 40px;
    background-color: aqua;
  }
  .chat-room-section .chat-room-holder .question #Q {
    margin-top: 25px;
  }
  .chat-room-section .chat-room-holder .messaging {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 32vh;
    width: 100%;
  }
  .chat-room-section .chat-room-holder .messaging .my-message {
    margin-top: 20px;
    height: 170px;
    width: 90%;
    border-radius: 2px;
    color: white;
    margin-left: auto;
    background-color: #141414;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .circle {
    border: 2px solid white;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 50%;
    font-size: 17px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .reply {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .received-message {
    margin-top: 20px;
    height: 170px;
    width: 90%;
    border-radius: 2px;
    color: white;
    background-color: #0096ff;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .circle {
    border: 2px solid white;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 50%;
    font-size: 17px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .reply {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .chat-bar {
    border-radius: 5px;
    height: 8vh;
    width: 100%;
    background-color: #333c47;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .chat-bar .input {
    text-align: start;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #141414;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar .send {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .chat-bar .send p {
    display: block;
  }
  .chat-room-section .chat-room-holder .chat-bar .send #upload {
    display: none;
  }
}

@media only screen and (min-width: 1248px) {
  .chat-room-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 87%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #28303b;
    border-radius: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .chat-room-section .chat-room-holder .question {
    padding: 15px 0px 15px 0px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 12vh;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chat-room-section .chat-room-holder .question p {
    color: white;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
  }
  .chat-room-section .chat-room-holder .question #title {
    font-size: 25px;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .chat-room-section .chat-room-holder .question #question {
    font-size: 22px;
  }
  .chat-room-section .chat-room-holder .question .Ans {
    position: absolute;
    left: 60%;
    top: 20%;
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50px;
    font-size: 18px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .chat-room-section .chat-room-holder .question .Ans #completeIcon {
    margin-right: 10px;
    color: greenyellow;
  }
  .chat-room-section .chat-room-holder .question .edit {
    position: absolute;
    left: 64%;
    top: 12%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .question .secondBTN {
    position: absolute;
    left: 60%;
    top: 12%;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0096ff;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .question .answered {
    background-color: greenyellow;
    color: black;
  }
  .chat-room-section .chat-room-holder .question .edit:hover {
    background-color: #0096ff;
    color: white;
  }
  .chat-room-section .chat-room-holder .question .input_field {
    margin-left: 40px;
    color: white;
    font-size: 18px;
    width: 350px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
  .chat-room-section .chat-room-holder .question .input_label {
    width: 100px;
    height: 40px;
    background-color: aqua;
  }
  .chat-room-section .chat-room-holder .question #Q {
    margin-top: 25px;
  }
  .chat-room-section .chat-room-holder .messaging {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 32vh;
    max-height: 60vh;
    width: 100%;
    overflow-y: auto;
  }
  .chat-room-section .chat-room-holder .messaging .my-message {
    margin-top: 20px;
    height: 170px;
    width: 90%;
    border-radius: 2px;
    color: white;
    margin-left: auto;
    background-color: #141414;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .circle {
    border: 2px solid white;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .circle img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .userName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 15%;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 35%;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .info .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .my-message .reply {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .received-message {
    margin-top: 20px;
    height: 170px;
    width: 90%;
    border-radius: 2px;
    color: white;
    background-color: #0096ff;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info {
    width: 100%;
    height: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .circle {
    border: 2px solid white;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    overflow: hidden;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .userName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    min-width: 15%;
    max-width: 20%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 17px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 35%;
    font-size: 17px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .info .time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    width: 20%;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .messaging .received-message .reply {
    width: 100%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
  }
  .chat-room-section .chat-room-holder .chat-bar {
    border-radius: 5px;
    height: 8vh;
    width: 100%;
    background-color: #333c47;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-room-section .chat-room-holder .chat-bar .input {
    text-align: start;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 75%;
    height: 40px;
    padding-left: 20px;
    font-size: 15px;
    background-color: #141414;
    color: white;
  }
  .chat-room-section .chat-room-holder .chat-bar .send {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #141414;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .chat-room-section .chat-room-holder .chat-bar .send p {
    display: block;
  }
  .chat-room-section .chat-room-holder .chat-bar .send #upload {
    display: none;
  }
}
/*# sourceMappingURL=ChatRoom.css.map */