@media only screen and (min-width: 1248px) {
  .section {
    height: 70vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-holder {
    width: 86.4%;
    height: 100%;
    background-color: #2b323b;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
  }
  .section .section-holder .title {
    height: 7vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .section-holder .title h1 {
    margin-left: 50px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .section .section-holder .form {
    height: 63vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .section-holder .form .inputs {
    height: 50vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .section-holder .form .inputs .upper {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section .section-holder .form .inputs .upper .roomInput {
    height: 200px;
    width: 42%;
    background-color: #141414;
    border-radius: 5px;
  }
  .section .section-holder .form .inputs .upper .roomInput .name {
    height: 25%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
  }
  .section .section-holder .form .inputs .upper .roomInput .name h3 {
    color: white;
    margin-left: 18px;
    border-left: 2px solid white;
    padding-left: 15px;
  }
  .section .section-holder .form .inputs .upper .roomInput .input {
    height: 75%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-holder .form .inputs .upper .roomInput .input .inputField {
    border: none;
    height: 80%;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
  }
  .section .section-holder .form .inputs .upper .roomInput .input .inputField:focus {
    outline: none;
  }
  .section .section-holder .form .inputs .lower {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section .section-holder .form .inputs .lower .tags {
    height: 200px;
    width: 89%;
    background-color: #141414;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .section-holder .form .inputs .lower .tags .titleB {
    height: 25%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
  }
  .section .section-holder .form .inputs .lower .tags .titleB h3 {
    color: white;
    margin-left: 18px;
    border-left: 2px solid white;
    padding-left: 15px;
  }
  .section .section-holder .form .inputs .lower .tags .boxes {
    height: 75%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-holder .form .inputs .lower .tags .boxes .box-holder {
    width: 95%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section .section-holder .form .inputs .lower .tags .boxes .box-holder .tag {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #384357;
    margin: 5px 10px 5px 10px;
  }
  .section .section-holder .form .inputs .lower .tags .boxes .box-holder .selected {
    background-color: orange;
  }
  .section .section-holder .form .upload {
    height: 15vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section .section-holder .form .upload #uploadBtn {
    display: none;
  }
  .section .section-holder .form .upload .uploadLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    height: 50px;
    background-color: #0096ff;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 15px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=CreateRoom.css.map */