@import "./Breakpoints.scss";
@import "./Theme.scss";

@include breakpoint-mixin("skinny") {
  .section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 78vh;
      width: 90%;
      display: flex;
      // justify-content: center;
      background-color: $secondary-background;
      // background-color: brown;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 7vh;
        // background-color: yellow;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 22vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;

        .input_field {
          margin-left: 30px;
          color: white;
          font-size: 18px;
          width: 230px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 280px;
          bottom: 40px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #name {
          margin-top: 40px;
        }
      }
      .boxes {
        height: 39vh;
        width: 100%;
        // background-color: orange;
        display: flex;
        justify-content: center;

        .box-holder {
          // background-color: blue;
          width: 98%;
          height: 100%;
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 45px;
          width: 120px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@include breakpoint-mixin("phone") {
  .section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 78vh;
      width: 90%;
      display: flex;
      // justify-content: center;
      background-color: $secondary-background;
      // background-color: brown;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 7vh;
        // background-color: yellow;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 21vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;

        .input_field {
          margin-left: 30px;
          color: white;
          font-size: 18px;
          width: 230px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 280px;
          bottom: 30px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #name {
          margin-top: 40px;
        }
      }
      .boxes {
        height: 40vh;
        width: 100%;
        // background-color: orange;
        display: flex;
        // justify-content: flex-end;

        .box-holder {
          // background-color: blue;
          width: 99%;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@include breakpoint-mixin("phone-wide") {
  .section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 75vh;
      width: 90%;
      display: flex;
      // justify-content: center;
      background-color: $secondary-background;
      // background-color: brown;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 7vh;
        // background-color: yellow;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 23vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;

        .input_field {
          margin-left: 70px;
          color: white;
          font-size: 18px;
          width: 230px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 320px;
          bottom: 30px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #name {
          margin-top: 40px;
        }
      }
      .boxes {
        height: 35vh;
        width: 100%;
        // background-color: orange;
        display: flex;
        justify-content: flex-end;

        .box-holder {
          // background-color: blue;
          width: 95%;
          height: 100%;
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@include breakpoint-mixin("phablet") {
  .section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 70vh;
      width: 90%;
      display: flex;
      // justify-content: center;
      background-color: $secondary-background;
      // background-color: brown;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 7vh;
        // background-color: yellow;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 23vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;

        .input_field {
          margin-left: 70px;
          color: white;
          font-size: 18px;
          width: 300px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 380px;
          bottom: 35px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #name {
          margin-top: 40px;
        }
      }
      .boxes {
        height: 30vh;
        width: 100%;
        // background-color: orange;
        display: flex;
        justify-content: flex-end;

        .box-holder {
          // background-color: blue;
          width: 95%;
          height: 100%;
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@include breakpoint-mixin("tablet") {
  .section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 50vh;
      width: 87%;
      display: flex;
      // justify-content: center;
      background-color: $secondary-background;
      // background-color: brown;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 7vh;
        // background-color: yellow;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 18vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;

        .input_field {
          margin-left: 100px;
          color: white;
          font-size: 18px;
          width: 400px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 520px;
          bottom: 35px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #name {
          margin-top: 40px;
        }
      }
      .boxes {
        height: 16vh;
        width: 100%;
        // background-color: orange;
        display: flex;
        justify-content: flex-end;

        .box-holder {
          // background-color: blue;
          width: 95%;
          height: 100%;
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 9vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@include breakpoint-mixin("tablet-wide") {
  .section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 38vh;
      width: 87%;
      display: flex;
      // justify-content: center;
      background-color: $secondary-background;
      // background-color: brown;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 7vh;
        // background-color: yellow;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 15vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: column;

        .input_field {
          margin-left: 150px;
          color: white;
          font-size: 18px;
          width: 450px;
          height: 30px;
          outline: 0;
          border: 0;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 620px;
          bottom: 35px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #name {
          margin-top: 40px;
        }
      }
      .boxes {
        height: 10vh;
        width: 100%;
        // background-color: orange;
        display: flex;
        justify-content: flex-end;

        .box-holder {
          // background-color: blue;
          width: 95%;
          height: 100%;
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 6vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 40px;
          width: 100px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

@include breakpoint-mixin("desktop") {
  .section {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: aqua;

    .section-holder {
      height: 62vh;
      width: 87%;
      display: flex;
      justify-content: center;
      background-color: $secondary-background;
      border-radius: 5px;
      flex-direction: column;

      .title {
        height: 8vh;
        width: 100%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.267);

        .home {
          height: 100%;
          width: 17%;
          display: flex;
          align-items: center;
          color: white;
          margin-left: 20px;
          // background-color: purple;
          justify-content: space-between;

          a {
            text-decoration: none;
            color: white;

            #arrow {
              font-weight: 800;
            }

            h2 {
              margin-bottom: 7px;
            }
          }
        }
      }

      .inputs {
        height: 27vh;
        width: 100%;
        // background-color: yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .input_field {
          // background-color: orange;
          color: white;
          font-size: 18px;
          width: 350px;
          height: 30px;
          outline: 0;
          border: 0;
          margin-left: 00px;
          background-color: transparent;
          border-bottom: 2px solid white;
        }

        .text-counter {
          position: relative;
          left: 210px;
          bottom: 40px;
          height: 40px;
          width: 40px;
          background-color: $highlight;
          border-radius: 3px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        #question {
          margin-top: 25px;
        }
      }
      .boxes {
        height: 17vh;
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: center;

        .box-holder {
          // background-color: orange;
          width: 90%;
          height: 100%;
          display: flex;
          // justify-content: center;
          flex-wrap: wrap;

          .tag {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: fit-content;
            font-family: "Red Hat Text", sans-serif;
            color: white;
            border-radius: 50px;
            font-size: 15px;
            padding: 0px 15px 0px 15px;
            background-color: $buttons;
            margin: 5px 10px 5px 10px;
          }

          .selected {
            background-color: orange;
          }
        }
      }
      .submit {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: green;

        .BTN {
          margin-right: 30px;
          height: 50px;
          width: 120px;
          border-radius: 5px;
          background-color: $highlight;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Red Hat Text", sans-serif;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
