@media only screen and (min-width: 1200px) {
  .feed-section {
    height: 90vh;
    width: 100%;
  }
  .feed-section .top {
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .top .holder {
    width: 81%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feed-section .top .holder .feed-BTN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px;
  }
  .feed-section .top .holder .feed-BTN p {
    font-weight: 600;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    cursor: pointer;
  }
  .feed-section .top .holder .feed-BTN .NotActive {
    opacity: 0.6;
  }
  .feed-section .top .holder .feed-BTN .pink {
    color: #f54977;
  }
  .feed-section .top .holder a {
    text-decoration: none;
    color: white;
  }
  .feed-section .top .holder a .create-BTN {
    height: 45px;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0096ff;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
    font-size: 18px;
  }
  .feed-section .bottom-section {
    height: 77vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .feed-section .bottom-section .indicator {
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    left: 45%;
    height: 32px;
    width: 150px;
    background-color: #f54977;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .feed-section .bottom-section .indicator p {
    font-size: 20px;
  }
  .feed-section .bottom-section .scroll {
    height: 100%;
    width: 80%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends {
    height: 90%;
    width: 100%;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .write {
    height: 10%;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .svgImage {
    height: 90%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .svgImage img {
    width: 90%;
    height: 90%;
  }
  .feed-section .bottom-section .scroll .link {
    text-decoration: none;
  }
  .feed-section .bottom-section .scroll .link .room-holder {
    margin-top: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #212224ff;
    word-break: break-all;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section {
    color: white;
    height: 57%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section p {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Red Hat Text", sans-serif;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section #Question {
    font-size: 17px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section {
    margin-top: 15px;
    height: 43%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .answered {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feed-section .bottom-section .scroll .link .room-holder .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 24px;
    width: 90px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0096ff;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend {
    margin-top: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: white;
    word-break: break-all;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section {
    color: white;
    height: 57%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section p {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Red Hat Text", sans-serif;
    color: black;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section #Question {
    font-size: 17px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section {
    margin-top: 15px;
    height: 43%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .answered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 22px;
    width: 90px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0096ff;
  }
  .feed-section .bottom-section .scroll::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }
}

@media only screen and (min-width: 1500px) {
  .feed-section {
    height: 90vh;
    width: 100%;
  }
  .feed-section .top {
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .top .holder {
    width: 81%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feed-section .top .holder .feed-BTN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px;
  }
  .feed-section .top .holder .feed-BTN p {
    font-weight: 600;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    cursor: pointer;
  }
  .feed-section .top .holder .feed-BTN .NotActive {
    opacity: 0.6;
  }
  .feed-section .top .holder .feed-BTN .pink {
    color: #f54977;
  }
  .feed-section .top .holder a {
    text-decoration: none;
    color: white;
  }
  .feed-section .top .holder a .create-BTN {
    height: 45px;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0096ff;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
    font-size: 18px;
  }
  .feed-section .bottom-section {
    height: 77vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .feed-section .bottom-section .indicator {
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    left: 45%;
    height: 32px;
    width: 150px;
    background-color: #f54977;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .feed-section .bottom-section .indicator p {
    font-size: 20px;
  }
  .feed-section .bottom-section .scroll {
    height: 100%;
    width: 80%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends {
    height: 90%;
    width: 100%;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .write {
    height: 10%;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .svgImage {
    height: 90%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .svgImage img {
    width: 90%;
    height: 90%;
  }
  .feed-section .bottom-section .scroll .link {
    text-decoration: none;
  }
  .feed-section .bottom-section .scroll .link .room-holder {
    margin-top: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #212224ff;
    word-break: break-all;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section {
    color: white;
    height: 57%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section p {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Red Hat Text", sans-serif;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section #Question {
    font-size: 17px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section {
    margin-top: 15px;
    height: 43%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .answered {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feed-section .bottom-section .scroll .link .room-holder .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 25px;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0096ff;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend {
    margin-top: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: white;
    word-break: break-all;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section {
    color: white;
    height: 57%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section p {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Red Hat Text", sans-serif;
    color: black;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section #Question {
    font-size: 17px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section {
    margin-top: 15px;
    height: 43%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .answered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 25px;
    width: 100px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0096ff;
  }
}

@media only screen and (min-width: 1920px) {
  .feed-section {
    height: 90vh;
    width: 100%;
  }
  .feed-section .top {
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .top .holder {
    width: 81%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .feed-section .top .holder .feed-BTN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px;
  }
  .feed-section .top .holder .feed-BTN p {
    font-weight: 600;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    cursor: pointer;
  }
  .feed-section .top .holder .feed-BTN .NotActive {
    opacity: 0.6;
  }
  .feed-section .top .holder .feed-BTN .pink {
    color: #f54977;
  }
  .feed-section .top .holder a {
    text-decoration: none;
    color: white;
  }
  .feed-section .top .holder a .create-BTN {
    height: 45px;
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #0096ff;
    border-radius: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
    font-size: 18px;
  }
  .feed-section .bottom-section {
    height: 77vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .feed-section .bottom-section .indicator {
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    left: 45%;
    height: 32px;
    width: 150px;
    background-color: #f54977;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .feed-section .bottom-section .indicator p {
    font-size: 20px;
  }
  .feed-section .bottom-section .scroll {
    height: 100%;
    width: 80%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends {
    height: 90%;
    width: 100%;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .write {
    height: 10%;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .svgImage {
    height: 90%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feed-section .bottom-section .scroll .noGlobalorFriends .svgImage img {
    width: 90%;
    height: 90%;
  }
  .feed-section .bottom-section .scroll .link {
    text-decoration: none;
  }
  .feed-section .bottom-section .scroll .link .room-holder {
    margin-top: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #212224ff;
    word-break: break-all;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section {
    color: white;
    height: 57%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section p {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Red Hat Text", sans-serif;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .top-section #Question {
    font-size: 17px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section {
    margin-top: 15px;
    height: 43%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed-section .bottom-section .scroll .link .room-holder .low-section .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder .answered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feed-section .bottom-section .scroll .link .room-holder .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 25px;
    width: 110px;
    border-radius: 5px;
    background-color: #0096ff;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend {
    margin-top: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: white;
    word-break: break-all;
    border-radius: 5px;
    padding: 15px 0px 10px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section {
    color: white;
    height: 57%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section p {
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Red Hat Text", sans-serif;
    color: black;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .top-section #Question {
    font-size: 17px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section {
    margin-top: 15px;
    height: 43%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .low-section .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .answered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .feed-section .bottom-section .scroll .link .room-holder-friend .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 25px;
    width: 110px;
    border-radius: 5px;
    background-color: #0096ff;
  }
}
/*# sourceMappingURL=Feed.css.map */