@import "./Breakpoints.scss";
@import "./Theme.scss";

.local-main {
  background-color: pink;
  display: flex;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;

  .local-holder {
    width: 83%;
    height: 100%;
    background-color: lightseagreen;
  }
}

@include breakpoint-mixin("tablet") {
  .local-main {
    background-color: pink;
    display: flex;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;

    .local-holder {
      width: 83%;
      height: 100%;
      background-color: lightseagreen;
    }
  }
}

@include breakpoint-mixin("tablet-wide") {
  .local-main {
    background-color: pink;
    display: flex;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;

    .local-holder {
      width: 83%;
      height: 100%;
      background-color: lightseagreen;
    }
  }
}

@include breakpoint-mixin("desktop") {
  .local-main {
    background-color: pink;
    display: flex;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;

    .local-holder {
      width: 83%;
      height: 100%;
      background-color: lightseagreen;
    }
  }
}
