@media only screen and (min-width: 375px) {
  .GoToDesktop {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .GoToDesktop h1 {
    color: white;
    text-align: center;
    max-width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .login-page {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login-page .left {
    height: 100vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .left .text-holder {
    height: 70vh;
    width: 80%;
  }
  .login-page .left .text-holder .chunkz {
    height: 54%;
    width: 100%;
  }
  .login-page .left .text-holder .chunkz .large {
    color: #f2f2f2;
    background: #0096ff;
    font-size: 60px;
    float: left;
    font-weight: 700;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 24px;
  }
  .login-page .left .text-holder .chunkz .small {
    color: #f2f2f2;
    background: #0096ff;
    font-size: 30px;
    float: left;
    font-weight: 700;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 24px;
  }
  .login-page .left .text-holder .chunkz #speak {
    margin-right: 400px;
  }
  .login-page .left .text-holder .website-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 46%;
    width: 100%;
    color: white;
  }
  .login-page .left .text-holder .website-desc p {
    font-size: 20px;
  }
  .login-page .left .text-holder .website-desc span {
    font-size: 25px;
    font-weight: 600;
  }
  .login-page .right {
    height: 100vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .right .login-holder {
    height: 20vh;
    width: 55%;
    border-radius: 5px;
    background-color: #212224ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-page .right .login-holder .upper {
    height: 12vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-family: "Red Hat Text", sans-serif;
  }
  .login-page .right .login-holder .upper #welcomeback {
    margin-top: 25px;
    font-size: 20px;
    opacity: 0.7;
  }
  .login-page .right .login-holder .upper #logintoyouraccount {
    font-size: 28px;
    font-weight: 650;
  }
  .login-page .right .login-holder .lower {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .login-page .right .login-holder .lower .loginBtn {
    background-color: #333333ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
  }
}

@media only screen and (min-width: 1500px) {
  .login-page {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login-page .left {
    height: 100vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .left .text-holder {
    height: 70vh;
    width: 80%;
  }
  .login-page .left .text-holder .chunkz {
    height: 54%;
    width: 100%;
  }
  .login-page .left .text-holder .chunkz .large {
    color: #f2f2f2;
    background: #0096ff;
    font-size: 75px;
    float: left;
    font-weight: 700;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 24px;
  }
  .login-page .left .text-holder .chunkz .small {
    color: #f2f2f2;
    background: #0096ff;
    font-size: 25px;
    float: left;
    font-weight: 700;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 24px;
  }
  .login-page .left .text-holder .chunkz #speak {
    margin-right: 400px;
  }
  .login-page .left .text-holder .website-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 46%;
    width: 100%;
    color: white;
  }
  .login-page .left .text-holder .website-desc p {
    font-size: 20px;
  }
  .login-page .left .text-holder .website-desc span {
    font-size: 25px;
    font-weight: 600;
  }
  .login-page .right {
    height: 100vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .right .login-holder {
    height: 20vh;
    width: 45%;
    background-color: #212224ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-page .right .login-holder .upper {
    height: 12vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-family: "Red Hat Text", sans-serif;
  }
  .login-page .right .login-holder .upper #welcomeback {
    margin-top: 25px;
    font-size: 20px;
    opacity: 0.7;
  }
  .login-page .right .login-holder .upper #logintoyouraccount {
    font-size: 28px;
    font-weight: 650;
  }
  .login-page .right .login-holder .lower {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .login-page .right .login-holder .lower .loginBtn {
    background-color: #333333ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
  }
}

@media only screen and (min-width: 1920px) {
  .login-page {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .login-page .left {
    height: 100vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .left .text-holder {
    height: 70vh;
    width: 80%;
  }
  .login-page .left .text-holder .chunkz {
    height: 54%;
    width: 100%;
  }
  .login-page .left .text-holder .chunkz .large {
    color: #f2f2f2;
    background: #0096ff;
    font-size: 75px;
    float: left;
    font-weight: 700;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 24px;
  }
  .login-page .left .text-holder .chunkz .small {
    color: #f2f2f2;
    background: #0096ff;
    font-size: 30px;
    float: left;
    font-weight: 700;
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 10px 24px;
  }
  .login-page .left .text-holder .chunkz #speak {
    margin-right: 400px;
  }
  .login-page .left .text-holder .website-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 46%;
    width: 100%;
    color: white;
  }
  .login-page .left .text-holder .website-desc p {
    font-size: 20px;
  }
  .login-page .left .text-holder .website-desc span {
    font-size: 25px;
    font-weight: 600;
  }
  .login-page .right {
    height: 100vh;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .right .login-holder {
    height: 20vh;
    width: 35%;
    background-color: #212224ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-page .right .login-holder .upper {
    height: 12vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-family: "Red Hat Text", sans-serif;
  }
  .login-page .right .login-holder .upper #welcomeback {
    margin-top: 25px;
    font-size: 20px;
    opacity: 0.7;
  }
  .login-page .right .login-holder .upper #logintoyouraccount {
    font-size: 28px;
    font-weight: 650;
  }
  .login-page .right .login-holder .lower {
    height: 8vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 10px;
  }
  .login-page .right .login-holder .lower .input-holder {
    height: 50px;
    width: 65%;
    background-color: #333333ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .login-page .right .login-holder .lower .input-holder input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
  }
  .login-page .right .login-holder .lower .username-taken {
    border: 1px solid #fd4d4d;
  }
  .login-page .right .login-holder .lower .submit {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-page .right .login-holder .lower .loginBtn {
    background-color: #333333ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
  }
}
/*# sourceMappingURL=Login.css.map */