.profile-holder {
  display: none;
}

@media only screen and (min-width: 768px) {
  .profile-holder {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .profile-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile-holder .profile {
    margin-top: 10vh;
    background-color: #2b323b;
    border-radius: 5px;
    width: 90%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-holder .profile .upper-profile {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .profile-holder .profile .upper-profile .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 40%;
  }
  .profile-holder .profile .upper-profile .left .image-holder {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    overflow: hidden;
  }
  .profile-holder .profile .upper-profile .left .image-holder .image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .profile-holder .profile .upper-profile .right {
    color: white;
    word-wrap: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 60%;
    padding-left: 10px;
  }
  .profile-holder .profile .upper-profile .right .name {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .profile-holder .profile .upper-profile .right .email {
    display: none;
  }
  .profile-holder .profile .lower-profile {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1248px) {
  .profile-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 22%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  .profile-holder .profile {
    margin-top: 10vh;
    background-color: #2b323b;
    border-radius: 5px;
    width: 90%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile-holder .profile .upper-profile {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .profile-holder .profile .upper-profile .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 30%;
  }
  .profile-holder .profile .upper-profile .left .image-holder {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    overflow: hidden;
  }
  .profile-holder .profile .upper-profile .left .image-holder .image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .profile-holder .profile .upper-profile .right {
    color: white;
    word-wrap: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 65%;
  }
  .profile-holder .profile .upper-profile .right .name {
    font-family: "Red Hat Text", sans-serif;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .profile-holder .profile .upper-profile .right .email {
    display: block;
    opacity: 0.7;
    font-size: 11px;
    font-family: "Red Hat Text", sans-serif;
  }
  .profile-holder .profile .lower-profile {
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=ProfileBar.css.map */