@media only screen and (min-width: 1200px) {
  .whole-holder {
    height: 100vh;
    width: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whole-holder .profile {
    height: 80%;
    width: 80%;
    border-radius: 15px;
    background-color: #212224ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.123);
  }
  .whole-holder .profile .dashboardTitle {
    height: 15%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    border-bottom: 1px solid rgba(247, 246, 246, 0.164);
  }
  .whole-holder .profile .dashboardTitle p {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .whole-holder .profile .menu {
    border-bottom: 1px solid rgba(247, 246, 246, 0.164);
    height: 35%;
    width: 85%;
  }
  .whole-holder .profile .menu .title {
    height: 12%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 15px;
  }
  .whole-holder .profile .menu .title p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .menu .menu-item {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
    position: relative;
  }
  .whole-holder .profile .menu img {
    height: 20px;
    width: 20px;
    -webkit-filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(105%) contrast(103%);
            filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(105%) contrast(103%);
    margin-left: 15px;
    margin-right: 20px;
  }
  .whole-holder .profile .menu #logoutLogo {
    margin-left: 20px;
  }
  .whole-holder .profile .menu p {
    font-size: 16px;
    font-weight: 400;
  }
  .whole-holder .profile .menu .options {
    display: none;
  }
  .whole-holder .profile .menu-item:hover {
    background-color: #1d1c1c;
  }
  .whole-holder .profile .menu-item:hover #statusPara {
    display: none;
  }
  .whole-holder .profile .menu-item:hover .options {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .whole-holder .profile .menu-item:hover .options .online-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #0096ff;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.1);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.1);
  }
  .whole-holder .profile .menu-item:hover .options .online-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 135px;
  }
  .whole-holder .profile .menu-item:hover .options .online-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    border: 4px solid #6e7985;
    background-color: #111213ff;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 95px;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    background-color: #fd4d4d;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 55px;
    color: white;
    border-radius: 2px;
    display: none;
    bottom: 40px;
    right: 60px;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    background-color: #faa81a;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 15px;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options p {
    margin-left: 5px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .whole-holder .profile .menu-item:hover .options img {
    height: 22px;
    width: 22px;
    -webkit-filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(110%) contrast(103%);
            filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(110%) contrast(103%);
  }
  .whole-holder .profile .menu-item:hover .options p {
    font-weight: 400;
    font-size: 18px;
  }
  .whole-holder .profile .room-stats {
    height: 40%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .room-stats .room-nav {
    height: 14%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .whole-holder .profile .room-stats .room-nav p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .room-stats ol {
    list-style: none;
    width: 92%;
  }
  .whole-holder .profile .room-stats ol li {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .whole-holder .profile .user-in {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .user-in img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
    cursor: pointer;
  }
  .whole-holder .profile .user-in p {
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
  }
  .whole-holder .profile .users {
    height: 45%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whole-holder .profile .users .holder {
    width: 90%;
    height: 90%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whole-holder .profile .users .holder .user-holder {
    margin-top: 30px;
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whole-holder .profile .users .holder .user-holder img {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-right: 0px;
    border: 2px solid white;
  }
  .whole-holder .profile .users .holder .user-holder .name-holder {
    width: 35%;
  }
  .whole-holder .profile .users .holder .user-holder .name-holder h2 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    color: white;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN {
    height: 38px;
    width: 45px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN p {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .whole-holder .profile .users .holder .user-holder .following-BTN {
    height: 38px;
    width: 45px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #0096ff;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .whole-holder .profile .users .holder .user-holder .following-BTN p {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN:hover {
    background-color: #0096ff;
  }
  .whole-holder .profile .users .holder .user-holder p {
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: white;
  }
  .whole-holder .profile .users .holder::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }
  .whole-holder .profile .chat-prof {
    height: 40%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .chat-prof .title {
    height: 14%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .whole-holder .profile .chat-prof .title p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .chat-prof ol {
    list-style: none;
    width: 92%;
  }
  .whole-holder .profile .chat-prof ol li {
    color: white;
    font-size: 16px;
  }
  .whole-holder .profile .chat-prof .contributer-list {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whole-holder .profile .chat-prof .contributer-list p {
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .whole-holder .profile .chat-prof .contributer-list .vertical-scroll {
    height: 80%;
    width: 100%;
  }
}

@media only screen and (min-width: 1500px) {
  .whole-holder {
    height: 100vh;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whole-holder .profile {
    height: 80%;
    width: 75%;
    border-radius: 15px;
    background-color: #212224ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.123);
  }
  .whole-holder .profile .dashboardTitle {
    height: 15%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    border-bottom: 1px solid rgba(247, 246, 246, 0.164);
  }
  .whole-holder .profile .dashboardTitle p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .whole-holder .profile .menu {
    border-bottom: 1px solid rgba(247, 246, 246, 0.164);
    height: 35%;
    width: 85%;
  }
  .whole-holder .profile .menu .title {
    height: 12%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 15px;
  }
  .whole-holder .profile .menu .title p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .menu .menu-item {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
    position: relative;
  }
  .whole-holder .profile .menu img {
    height: 20px;
    width: 20px;
    -webkit-filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(105%) contrast(103%);
            filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(105%) contrast(103%);
    margin-left: 15px;
    margin-right: 20px;
  }
  .whole-holder .profile .menu #logoutLogo {
    margin-left: 20px;
  }
  .whole-holder .profile .menu p {
    font-size: 16px;
    font-weight: 400;
  }
  .whole-holder .profile .menu .options {
    display: none;
  }
  .whole-holder .profile .menu-item:hover {
    background-color: #1d1c1c;
  }
  .whole-holder .profile .menu-item:hover #statusPara {
    display: none;
  }
  .whole-holder .profile .menu-item:hover .options {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .whole-holder .profile .menu-item:hover .options .online-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #0096ff;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.1);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.1);
  }
  .whole-holder .profile .menu-item:hover .options .online-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 135px;
  }
  .whole-holder .profile .menu-item:hover .options .online-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    border: 4px solid #6e7985;
    background-color: #111213ff;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 95px;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    background-color: #fd4d4d;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 55px;
    color: white;
    border-radius: 2px;
    display: none;
    bottom: 40px;
    right: 60px;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    background-color: #faa81a;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 15px;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options p {
    margin-left: 5px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .whole-holder .profile .menu-item:hover .options img {
    height: 22px;
    width: 22px;
    -webkit-filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(110%) contrast(103%);
            filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(110%) contrast(103%);
  }
  .whole-holder .profile .menu-item:hover .options p {
    font-weight: 400;
    font-size: 18px;
  }
  .whole-holder .profile .room-stats {
    height: 40%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .room-stats .room-nav {
    height: 14%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .whole-holder .profile .room-stats .room-nav p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .room-stats ol {
    list-style: none;
    width: 92%;
  }
  .whole-holder .profile .room-stats ol li {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .whole-holder .profile .user-in {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .user-in img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
  }
  .whole-holder .profile .user-in p {
    font-size: 16px;
    color: white;
    font-weight: 500;
  }
  .whole-holder .profile .users {
    height: 45%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whole-holder .profile .users .holder {
    width: 90%;
    height: 90%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whole-holder .profile .users .holder .user-holder {
    margin-top: 30px;
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whole-holder .profile .users .holder .user-holder img {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-right: 0px;
    border: 2px solid white;
  }
  .whole-holder .profile .users .holder .user-holder .name-holder {
    width: 35%;
  }
  .whole-holder .profile .users .holder .user-holder .name-holder h2 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 18px;
    color: white;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN {
    height: 38px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN p {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .whole-holder .profile .users .holder .user-holder .following-BTN {
    height: 38px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #0096ff;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .whole-holder .profile .users .holder .user-holder .following-BTN p {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN:hover {
    background-color: #0096ff;
  }
  .whole-holder .profile .users .holder .user-holder p {
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: white;
  }
  .whole-holder .profile .users .holder::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }
  .whole-holder .profile .chat-prof {
    height: 40%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .chat-prof .title {
    height: 14%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 30px;
  }
  .whole-holder .profile .chat-prof .title p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .chat-prof ol {
    list-style: none;
    width: 92%;
  }
  .whole-holder .profile .chat-prof ol li {
    color: white;
    font-size: 16px;
  }
  .whole-holder .profile .chat-prof .contributer-list {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whole-holder .profile .chat-prof .contributer-list p {
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .whole-holder .profile .chat-prof .contributer-list .vertical-scroll {
    height: 80%;
    width: 100%;
  }
}

@media only screen and (min-width: 1920px) {
  .whole-holder {
    height: 100vh;
    width: 22%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whole-holder .profile {
    height: 80%;
    width: 72%;
    margin-top: 50px;
    border-radius: 15px;
    background-color: #212224ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.123);
  }
  .whole-holder .profile .dashboardTitle {
    height: 15%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    border-bottom: 1px solid rgba(247, 246, 246, 0.164);
  }
  .whole-holder .profile .dashboardTitle p {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .whole-holder .profile .menu {
    border-bottom: 1px solid rgba(247, 246, 246, 0.164);
    height: 35%;
    width: 85%;
  }
  .whole-holder .profile .menu .title {
    height: 12%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 15px;
  }
  .whole-holder .profile .menu .title p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .menu .menu-item {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    cursor: pointer;
    position: relative;
  }
  .whole-holder .profile .menu img {
    height: 20px;
    width: 20px;
    -webkit-filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(105%) contrast(103%);
            filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(105%) contrast(103%);
    margin-left: 15px;
    margin-right: 20px;
  }
  .whole-holder .profile .menu #logoutLogo {
    margin-left: 20px;
  }
  .whole-holder .profile .menu p {
    font-size: 16px;
    font-weight: 400;
  }
  .whole-holder .profile .menu .options {
    display: none;
  }
  .whole-holder .profile .menu-item:hover {
    background-color: #1d1c1c;
  }
  .whole-holder .profile .menu-item:hover #statusPara {
    display: none;
  }
  .whole-holder .profile .menu-item:hover .options {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .whole-holder .profile .menu-item:hover .options .online-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #0096ff;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.1);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.1);
  }
  .whole-holder .profile .menu-item:hover .options .online-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 135px;
  }
  .whole-holder .profile .menu-item:hover .options .online-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    border: 4px solid #6e7985;
    background-color: #111213ff;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 95px;
  }
  .whole-holder .profile .menu-item:hover .options .offline-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    background-color: #fd4d4d;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 55px;
    color: white;
    border-radius: 2px;
    display: none;
    bottom: 40px;
    right: 60px;
  }
  .whole-holder .profile .menu-item:hover .options .busy-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(175, 175, 175, 0.2);
    background-color: #faa81a;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle .pop-up {
    position: absolute;
    background-color: #2c2f33;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 2px;
    display: none;
    min-width: 70px;
    bottom: 40px;
    right: 15px;
  }
  .whole-holder .profile .menu-item:hover .options .idle-circle:hover .pop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 35px;
  }
  .whole-holder .profile .menu-item:hover .options p {
    margin-left: 5px;
    display: block;
    font-weight: 500;
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    color: white;
  }
  .whole-holder .profile .menu-item:hover .options img {
    height: 22px;
    width: 22px;
    -webkit-filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(110%) contrast(103%);
            filter: invert(100%) sepia(0%) saturate(10%) hue-rotate(213deg) brightness(110%) contrast(103%);
  }
  .whole-holder .profile .menu-item:hover .options p {
    font-weight: 400;
    font-size: 18px;
  }
  .whole-holder .profile .room-stats {
    height: 40%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .room-stats .room-nav {
    height: 14%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30px;
  }
  .whole-holder .profile .room-stats .room-nav p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .room-stats ol {
    list-style: none;
    width: 92%;
  }
  .whole-holder .profile .room-stats ol li {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
  }
  .whole-holder .profile .user-in {
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .user-in img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 20px;
  }
  .whole-holder .profile .user-in p {
    font-size: 16px;
    color: white;
    font-weight: 500;
  }
  .whole-holder .profile .users {
    height: 45%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whole-holder .profile .users .holder {
    width: 90%;
    height: 90%;
    overflow: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whole-holder .profile .users .holder .user-holder {
    margin-top: 30px;
    width: 100%;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whole-holder .profile .users .holder .user-holder img {
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin-right: 0px;
    border: 2px solid white;
  }
  .whole-holder .profile .users .holder .user-holder .name-holder {
    width: 35%;
  }
  .whole-holder .profile .users .holder .user-holder .name-holder h2 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 18px;
    color: white;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN {
    height: 38px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN p {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .whole-holder .profile .users .holder .user-holder .following-BTN {
    height: 38px;
    width: 50px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #0096ff;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .whole-holder .profile .users .holder .user-holder .following-BTN p {
    display: block;
    font-size: 18px;
    font-weight: 600;
  }
  .whole-holder .profile .users .holder .user-holder .follow-BTN:hover {
    background-color: #0096ff;
  }
  .whole-holder .profile .users .holder .user-holder p {
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: white;
  }
  .whole-holder .profile .users .holder::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }
  .whole-holder .profile .chat-prof {
    height: 40%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whole-holder .profile .chat-prof .title {
    height: 14%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .whole-holder .profile .chat-prof .title p {
    color: rgba(255, 255, 255, 0.644);
    font-size: 14px;
    margin-left: 10px;
  }
  .whole-holder .profile .chat-prof ol {
    list-style: none;
    width: 92%;
  }
  .whole-holder .profile .chat-prof ol li {
    color: white;
    font-size: 16px;
  }
  .whole-holder .profile .chat-prof .contributer-list {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whole-holder .profile .chat-prof .contributer-list p {
    color: white;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .whole-holder .profile .chat-prof .contributer-list .vertical-scroll {
    height: 80%;
    width: 100%;
  }
}
/*# sourceMappingURL=ProfileBar.css.map */