@import "./Breakpoints.scss";
@import "./Theme.scss";

@include breakpoint-mixin("tablet") {
}

@include breakpoint-mixin("tablet-wide") {
}

@include breakpoint-mixin("desktop") {
  .section2 {
    height: 90vh;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;

    .holder {
      width: 85%;
      height: 100%;
      background-color: orange;
    }
  }
}
