@media only screen and (min-width: 1200px) {
  .section2 {
    height: 88vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder {
    width: 92%;
    height: 100%;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.705);
    border-right: 1px solid rgba(255, 255, 255, 0.705);
    overflow: hidden;
  }
  .section2 .holder .banner {
    height: 20%;
    width: 100%;
    background-color: #333333ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .banner h1 {
    color: white;
    font-size: 55px;
  }
  .section2 .holder .imageHolder {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: pink;
    position: absolute;
    top: 195px;
    right: 30%;
    overflow: hidden;
    border: 3px solid white;
    display: block;
  }
  .section2 .holder .imageHolder img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section2 .holder .follow-section {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .holder .follow-section .follow-BTN {
    height: 38px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 80px;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .section2 .holder .follow-section .follow-BTN p {
    font-size: 18px;
    font-weight: 600;
  }
  .section2 .holder .follow-section .following-BTN {
    height: 38px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #0096ff;
    margin-left: 30px;
    margin-right: 80px;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .section2 .holder .follow-section .following-BTN p {
    font-size: 18px;
    font-weight: 600;
  }
  .section2 .holder .follow-section .follow-BTN:hover {
    background-color: #0096ff;
  }
  .section2 .holder .follow-section h2 {
    display: none;
  }
  .section2 .holder .follow-my-section {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .follow-my-section p {
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: white;
  }
  .section2 .holder .specificFeedHolder {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .svg {
    height: 100%;
    width: 90%;
  }
  .section2 .holder .specificFeedHolder .svg .titlo {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .section2 .holder .specificFeedHolder .svg .titlo h1 {
    font-size: 25px;
  }
  .section2 .holder .specificFeedHolder .svg .svg {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .svg .svg #svg {
    height: 80%;
    width: 80%;
  }
  .section2 .holder .specificFeedHolder .scrollUser {
    height: 100%;
    width: 80%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .section2 .holder .specificFeedHolder .scrollUser h1 {
    color: white;
  }
  .section2 .holder .specificFeedHolder .scrollUser .link1 {
    text-decoration: none;
    color: white;
  }
  .section2 .holder .specificFeedHolder .scrollUser .cursour {
    cursor: pointer;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms {
    margin-top: 40px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #212224ff;
    word-break: break-all;
    border-radius: 5px;
    padding: 20px 0px 12px 0px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper p {
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Red Hat Text", sans-serif;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper #Question {
    font-size: 17px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower {
    margin-top: 10px;
    height: 40%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .low-holder {
    height: 100%;
    width: 84%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder {
    cursor: pointer;
    margin-left: 40px;
    height: 42px;
    width: 42px;
    border-radius: 5px;
    background-color: #0096ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder #icon {
    font-size: 25px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder:hover {
    background-color: #fd4d4d;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .answered {
    margin: 5px 0px 5px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .answered .dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin-right: 20px;
    height: 24px;
    width: 90px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #0096ff;
  }
  .section2 .holder .specificFeedHolder .scrollUser::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
  }
}

@media only screen and (min-width: 1500px) {
  .section2 {
    height: 88vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder {
    width: 92%;
    height: 100%;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.705);
    border-right: 1px solid rgba(255, 255, 255, 0.705);
    overflow: hidden;
  }
  .section2 .holder .banner {
    height: 20%;
    width: 100%;
    background-color: #333333ff;
  }
  .section2 .holder .imageHolder {
    height: 135px;
    width: 135px;
    border-radius: 100%;
    background-color: pink;
    position: absolute;
    top: 190px;
    right: 28.5%;
    overflow: hidden;
    border: 3px solid white;
    display: block;
  }
  .section2 .holder .imageHolder img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section2 .holder .follow-section {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .holder .follow-section .follow-BTN {
    height: 42px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 80px;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .section2 .holder .follow-section .follow-BTN p {
    font-size: 18px;
    font-weight: 600;
  }
  .section2 .holder .follow-section .following-BTN {
    height: 42px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #0096ff;
    margin-left: 30px;
    margin-right: 80px;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .section2 .holder .follow-section .following-BTN p {
    font-size: 18px;
    font-weight: 600;
  }
  .section2 .holder .follow-section .follow-BTN:hover {
    background-color: #0096ff;
  }
  .section2 .holder .follow-section h2 {
    display: none;
  }
  .section2 .holder .follow-my-section {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .follow-my-section p {
    font-size: 20px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: white;
  }
  .section2 .holder .specificFeedHolder {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .svg {
    height: 100%;
    width: 90%;
  }
  .section2 .holder .specificFeedHolder .svg .titlo {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .section2 .holder .specificFeedHolder .svg .titlo h1 {
    font-size: 25px;
  }
  .section2 .holder .specificFeedHolder .svg .svg {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .svg .svg #svg {
    height: 80%;
    width: 80%;
  }
  .section2 .holder .specificFeedHolder .scrollUser {
    height: 100%;
    width: 80%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .section2 .holder .specificFeedHolder .scrollUser h1 {
    color: white;
  }
  .section2 .holder .specificFeedHolder .scrollUser .link1 {
    text-decoration: none;
    color: white;
  }
  .section2 .holder .specificFeedHolder .scrollUser .cursour {
    cursor: pointer;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms {
    margin-top: 40px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #212224ff;
    word-break: break-all;
    border-radius: 5px;
    padding: 20px 0px 10px 0px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper p {
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Red Hat Text", sans-serif;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper #Question {
    font-size: 17px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower {
    margin-top: 10px;
    height: 40%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .low-holder {
    height: 100%;
    width: 88%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder {
    cursor: pointer;
    margin-left: 40px;
    height: 42px;
    width: 42px;
    border-radius: 5px;
    background-color: #0096ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder #icon {
    font-size: 25px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder:hover {
    background-color: #fd4d4d;
  }
}

@media only screen and (min-width: 1920px) {
  .section2 {
    height: 88vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder {
    width: 86.4%;
    height: 100%;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.705);
    border-right: 1px solid rgba(255, 255, 255, 0.705);
    overflow: hidden;
  }
  .section2 .holder .banner {
    height: 20%;
    width: 100%;
    background-color: #333333ff;
  }
  .section2 .holder .imageHolder {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    background-color: pink;
    position: absolute;
    top: 190px;
    right: 31.5%;
    overflow: hidden;
    border: 3px solid white;
    display: block;
  }
  .section2 .holder .imageHolder img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section2 .holder .follow-section {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 .holder .follow-section .follow-BTN {
    height: 38px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 80px;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .section2 .holder .follow-section .follow-BTN p {
    font-size: 18px;
    font-weight: 600;
  }
  .section2 .holder .follow-section .following-BTN {
    height: 38px;
    width: 120px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px 0px 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #0096ff;
    margin-left: 30px;
    margin-right: 80px;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
  }
  .section2 .holder .follow-section .following-BTN p {
    font-size: 18px;
    font-weight: 600;
  }
  .section2 .holder .follow-section .follow-BTN:hover {
    background-color: #0096ff;
  }
  .section2 .holder .follow-section h2 {
    display: none;
  }
  .section2 .holder .follow-my-section {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .follow-my-section p {
    font-size: 25px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    color: white;
  }
  .section2 .holder .specificFeedHolder {
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .svg {
    height: 100%;
    width: 90%;
  }
  .section2 .holder .specificFeedHolder .svg .titlo {
    width: 100%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Red Hat Text", sans-serif;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  .section2 .holder .specificFeedHolder .svg .titlo h1 {
    font-size: 25px;
  }
  .section2 .holder .specificFeedHolder .svg .svg {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .svg .svg #svg {
    height: 80%;
    width: 80%;
  }
  .section2 .holder .specificFeedHolder .scrollUser {
    height: 100%;
    width: 80%;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .section2 .holder .specificFeedHolder .scrollUser h1 {
    color: white;
  }
  .section2 .holder .specificFeedHolder .scrollUser .link1 {
    text-decoration: none;
    color: white;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms {
    color: white;
    margin-top: 40px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #212224ff;
    word-break: break-all;
    border-radius: 5px;
    padding: 20px 0px 10px 0px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper {
    height: 60%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper p {
    margin-left: 40px;
    margin-right: 40px;
    font-family: "Red Hat Text", sans-serif;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper #Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .upper #Question {
    font-size: 17px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower {
    margin-top: 10px;
    height: 40%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .low-holder {
    height: 100%;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 36px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .low-holder .roomTag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Red Hat Text", sans-serif;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
    background-color: #333333ff;
    margin: 5px 20px 4px 0px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder {
    cursor: pointer;
    margin-left: 40px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    background-color: #0096ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder #icon {
    font-size: 25px;
  }
  .section2 .holder .specificFeedHolder .scrollUser .usersRooms .lower .delete .delete-icon-holder:hover {
    background-color: #fd4d4d;
  }
}
/*# sourceMappingURL=specificUserPage.css.map */